@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
#content{
  position: relative;
  padding-top: 15rem;
  height: 100%;
}

@media screen and (max-width: 650px) {
    #content{
      padding-top:30rem;
    }
    .jumbotron{
     padding: 6rem 1rem;
    }
}